{% extends 'base.html' %}
{% block title %}
        Home
    {% endblock title %}
{% block body %}
        
      <div class="container my-3">
          <h2>Add a Task</h2>
        <form action="/" method="POST">
            <div class="mb-3">
              <label for="exampleInputText1" class="form-label">Title Of the Task</label>
              <input type="text" class="form-control" id="exampleInputText1" name ="title" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputText1" class="form-label">Description</label>
              <input type="text" class="form-control" id="exampleInputText1" name="desc">
            </div>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
          </form>
      </div>
      <div class="container my-3">
          <h2>Todo List</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">SNo</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Time</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
            {% if result|length==0 %}
                <div class="alert alert-dark" role="alert">
                Please Enter Some tasks
              </div>
            {% else %}
            {% for todo in result %}
              <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{todo.title}}</td>
                <td>{{todo.desc}}</td>
                <td>{{todo.date_created}}</td>
                <td><a href="/update/{{todo.sno}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Update</a>
                    <a href="/delete/{{todo.sno}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Delete</a>
                </td>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
      </div>
{% endblock body %}